<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.bs178035" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CodeScan</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="you@example.com" href="http://example.com.com/">
      Your Name Here
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="android-build-tool" value="gradle" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi.png  " density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-land-hdpi..png" density="land-hdpi"/>
    <splash src="resources/android/splash/drawable-land-xhdpi.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxhdpi.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/drawable-land-xhdpi.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-hdpi.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi.png" density="port-xxxhdpi"/>
  </platform>
</widget>